@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

:root {
    --primary-color: #ff9c07;
    --secudary-color: #fab802;
    --dark-color-font: #272525;
    --background-linear: linear-gradient(to bottom, #fab802, #ff6f00);
}