<form class="register-form" (submit)="onSubmit()">
  <div class="form-group">
    <label for="name">Nome completo</label>
    <input id="name" name="name" type="text" placeholder="Seu nome completo" [(ngModel)]="register.name">
  </div>

  <div class="form-group">
    <label for="email">E-mail</label>
    <input id="email" name="email" type="email" placeholder="seuemail@exemplo.com" [(ngModel)]="register.email">
  </div>

  <div class="form-group">
    <label for="password">Senha</label>
    <input id="password" name="password" type="password" placeholder="••••••••" [(ngModel)]="register.password">
  </div>

  <div class="form-group">
    <label for="confirmPassword">Confirmar senha</label>
    <input id="confirmPassword" name="repassword" type="password" placeholder="••••••••" [(ngModel)]="register.repassword">
  </div>

    @if (sentError) {
    <div class="register-error" >
      {{ sentError }}
    </div>
  }

  <button type="submit" class="submit-button">Criar conta</button>

  <button routerLink="/login" class="login-router">Realizar Login</button>
</form>
