<aside class="sidebar">
  <nav>
    <ul>
      <li class="active">
        <a href="#">
          <span>🏠</span>
          <p>Início</p>
        </a>
      </li>

      <li>
        <a href="#">
          <span>➕</span>
          <p>Novo Check-in</p>
        </a>
      </li>

      <li>
        <a href="#">
          <span>📅</span>
          <p>Reservas</p>
        </a>
      </li>

      <li>
        <a href="#">
          <span>🏨</span>
          <p>Quartos</p>
        </a>
      </li>

      <li>
        <a href="#">
          <span>📊</span>
          <p>Relatórios</p>
        </a>
      </li>
    </ul>
  </nav>
</aside>
