@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.new-reservation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.new-reservation a {
    display: inline-flex;
    align-items: center;
    width: auto;
    height: 4em;
    background-color: #4f9ed2;
    padding: 20px;

    font-size: 14px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #FFF;
}

/* Reservation cards */
.card {
    display: flex;
    z-index: 1;
    margin-bottom: 1.5rem;
    font-size: 16px;
    font-family: sans-serif;
    border: solid rgb(185, 179, 179) .5px;
    border-radius: 10px;
    box-shadow: 0 9px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    /* Leve efeito de elevação no hover */
}

.reservation-details,
.booking-details {
    padding: 1.5rem;
    width: 40%;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.reservation-details {
    margin-right: 2rem;
}

.card h3 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #333;
    font-weight: 600;
}

.card p {
    margin-bottom: 10px;
    color: #555;
    line-height: 1.5;
}

.card p strong {
    color: #004d7f;
    /* A cor azul escura para os títulos */
    font-weight: 600;
}

.card button {
    height: 40px;
    width: 10%;
    align-self: center;
    padding: 10px;
    margin: auto;

    background-color: #d8d8d8;
    font-size: 15px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    transition: background 1s;
}

.card button:hover {
    background-color: var(--primary-color);
}

.no-reservations {
    background-color: #FFFFFF;
    padding: 40px;
    font-size: 1.5rem;
    font-weight: 500;
}

.rooms{
    /**************
    Aqui vai ficar o código referente ao sistema de quartos locados */
}


/* Botão fechar */
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2rem;
    cursor: pointer;
    color: #333;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .card {
        flex-direction: column;
        padding: 1.5rem;
    }

    .reservation-details,
    .booking-details {
        width: 100%;
        margin-bottom: 1.5rem;
    }

    .reservation-details {
        margin-right: 0;
    }
}